@import "./atoms/index.scss";
@import "./molecules/index.scss";
@import "./organisms/index.scss";
@import "./pages/index.scss";

body {
  margin: 0px;
  background: url("../assets/backgrounds/purple-nebula.svg"), url("../assets/backgrounds/blue-nebula.svg"), url("../assets/backgrounds/Planet.png");
  background-position: 0px -1100px, 0 400px, 300px 100px;
  background-color: #111;
  background-repeat: no-repeat;
  font-family: 'Nova Square', cursive;
  background-size: cover, cover, 50px 50px;
}
