@import "./atoms/index.scss";
@import "./molecules/index.scss";
@import "./organisms/index.scss";
@import "./pages/index.scss";

body {
  margin: 0px;
  background: url("../assets/backgrounds/blue-nebula.svg"), url("../assets/backgrounds/purple-nebula.svg");
  background-position: 40vh 100px, -90vh 100px ;
  background-color: #111;
  background-repeat: no-repeat;
  font-family: 'Nova Square', cursive;
  background-size: cover, cover;
}
