.organism-lendingpoolcard {
  cursor: pointer;
  transition: box-shadow 0.4s ease-out 0s;
  position: relative;
  font-family: 'Nova Square', cursive;

  &:hover {
    box-shadow: 0px 0px 90px rgb(239, 68, 68);
    transition: ease-out 0.4s;
    border: 2px solid #e84142;
  }
}
